@page
@model ProyectoCiclo3.App.Frontend.Pages.ListUsuarioModel
@{
}
 
<h1>Listado de Encomienda</h1>
<table class="table">

<thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Peso</th>
      <th scope="col">Tipo</th>
      <th scope="col">Presentación</th>
    </tr>
  </thead>

    @foreach (var Encomienda in Model.Encomienda)
    {
        <tr>
            <td>@Encomienda.id</td>
            <td>@Encomienda.nombre</td>
            <td>@Encomienda.apellido</td>
            <td>@Encomienda.direccion</td>
            <td>@Encomienda.telefono</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-EncomiendaId="@Encomienda.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-EncomiendaId="@Encomienda.id">Editar</a>
              <form method="POST">
                <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@Encomienda.id">
                <button type="submit"class="btn btn-danger" href="">Eliminar</button>
              </form>
            </td>
        </tr>
    }
</table>
