@page
@model ProyectoCiclo3.App.Frontend.Pages.ListServicioModel
@{
}
 
<h1>Listado de Servicio</h1>
<table class="table">

<thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">origen</th>
      <th scope="col">destino</th>
      <th scope="col">fecha</th>
      <th scope="col">hora</th> 
      <th scope="col">encomienda</th>
    </tr>
  </thead>

    @foreach (var Servicio in Model.Servicio)
    {
        <tr>
            <td>@Servicio.id</td>
            <td>@Servicio.nombre</td>
            <td>@Servicio.apellido</td>
            <td>@Servicio.direccion</td>
            <td>@Servicio.telefono</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-ServicioId="@Servicio.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-servicioId="@Servicio.id">Editar</a>
              <form method="POST">
                <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@Servicio.id">
                <button type="submit"class="btn btn-danger" href="">Eliminar</button>
              </form>
            </td>
        </tr>
    }
</table>
